{% extends "admin/change_list.html" %}


{% block object-tools %}

    
   
    <form id="get-payments-form" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="fromDate">Dia</label>
                        <input type="date" name="fromDate" value="" class=" form-control  ">
                    </div>
                    {% comment %} <div class="col-sm-3">
                        <label for="fromDate">Hasta</label>
                        <input type="date" name="toDate" value="" class=" form-control  ">
                    </div> {% endcomment %}
                    <div class="col-sm-6 mt-auto">
                        <button class="btn btn-secondary" type="submit">Traer Pagos</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
 {{ block.super }}

 <script>
 let myform = document.querySelector("#get-payments-form").onsubmit = function (event) {
    alert("Replaced submit handler");
    return true;
};

 //myform.querySelector('input[name=_getData]').addEventListener('onSubmit', function(e){
    //e.preventDefault();
    //console.log("pijotas")
 //})
 //console.log(form)
 
 </script>

{% endblock object-tools %}
    