{% extends "admin/change_list.html" %}


{% block object-tools %}
    <form id="get-payments-form" method="POST" action="/payments/">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="date">Dia</label>
                        <input id="date-field" type="date" name="date" value="" class=" form-control  ">
                    </div>
                    <div class="col-sm-6 mt-auto">
                        <button class="btn btn-secondary" type="submit">
                            <span style="display:none" id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Traer Pagos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
 {{ block.super }}

 <script>

 document.getElementById('date-field').valueAsDate = new Date();
 let myform = document.querySelector("#get-payments-form").onsubmit = function (event) {
    document.getElementById("spinner").style.display = "inline-block";
    return true;
};

 //myform.querySelector('input[name=_getData]').addEventListener('onSubmit', function(e){
    //e.preventDefault();
    //console.log("pijotas")
 //})
 //console.log(form)
 
 </script>

{% endblock object-tools %}
    