{% extends "admin/change_list.html" %}


{% block object-tools %}
    {% comment %} <form id="get-payments-form" method="POST" action="/payments/">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="date">Dia</label>
                        <input id="date-field" type="date" name="date" value="" class="form-control" data-date-end-date="0d">
                    </div>
                    <div class="col-sm-6 mt-auto">
                        <button class="btn btn-secondary" type="submit">
                            <span style="display:none" id="spinner" class="spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Traer Pagos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form> {% endcomment %}

    <form id="get-payments-form" method="POST" action="/payments/get-payments-by-date">
        {% csrf_token %}
        <div class="row">
            <label for="date">Dia</label>
            <input id="date-field" type="date" name="date" value="">
            <button class="btn btn-secondary" type="submit">
                Traer Pagos
                <span style="display:none" id="spinner" class="spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </div>
    </form>
    <br>
 {{ block.super }}

 <script>
    document.getElementById('date-field').valueAsDate = new Date();

    let myform = document.querySelector("#get-payments-form").onsubmit = function (event) {
        document.getElementById("spinner").style.display = "inline-block";
        return true;
    }; 
 </script>

{% endblock object-tools %}
    